<p>Bonjour,</p>

<p>Une demande d’évaluation sur l’analyse d’impact sur la vie privée « {{ pia_name }} » vous a été adressée par {{ source_name }}.</p>

<p>Vous pouvez y accéder et procéder à l’évaluation du contenu du PIA en cliquant sur le lien suivant : <a href="{{ pia_url }}">{{ pia_name }}</a>.</p>

<p>Cordialement,</p>
