<p>Bonjour,</p>

<p>Suite aux observations émises par {{ source_name }} le {{ "now"|date("d/m/Y") }} veuillez cliquer sur le lien suivant : {{ pia_url }} afin de compléter le PIA.</p>

<p>Cordialement,</p>
