<p>Bonjour,</p>

<p>Suite à l’évaluation réalisée par {{ source_name }} le {{ "now"|date("d/m/Y") }} veuillez cliquer sur le lien suivant {{ pia_url }} afin de 
corriger le PIA.</p>

<p>Cordialement,</p>
