<p>Bonjour,</p>

<p>Une intervention sur la validation du PIA a été réalisée par {{ source_name }}.</p>

<p>Pour y accéder, veuillez cliquer sur le lien suivant : {{ pia_url }}.</p>

<p>Cordialement,</p>
