<p>Bonjour,</p>

<p>Le responsable de traitement a émis un refus lors de la phase de validation de l'analyse d'impact « <a href="{{ pia_url }}">{{ pia_name }}</a> ».</p>

<p>En tant que DPO sur ce PIA, vous êtes invité à prendre acte de cette décision et, le cas échéant à formaliser un autre PIA pour ce traitement, en tenant compte des éventuels commentaires qui ont pu être ajoutés par le responsable de traitement.</p>

<p>Cordialement,</p>
