<p>Bonjour,</p>

<p>Demande d'évaluation non validée par {{ source_name }}, veuillez cliquer sur le lien suivant <a href="{{ pia_url }}">{{ pia_name }}</a> afin de corriger le PIA que l’évaluateur a considéré comme "{{ evaluation_state }}".</p>

<p>Cordialement,</p>
