<p>Bonjour,</p>

<p>Une demande d’avis vous a été adressée par {{ source_name }}.</p>

<p>Pour y accéder, veuillez cliquer sur le lien suivant : <a href="{{ pia_url }}">{{ pia_name }}</a>.</p>

<p>Cordialement,</p>
