<p>Bonjour,</p>

<p>Une fiche de traitement vous a été affectée par {{ source_name }} le {{ "now"|date("d/m/Y") }}.</p>

<p>Pour y accéder, veuillez cliquer sur le lien suivant : {{ processing_url }}.</p>

<p>Cordialement,</p>
