<p>Bonjour,</p>

<p>Un avis a été émis par {{ source_name }}.</p>

<p>Pour intervenir sur la validation du PIA, veuillez cliquer sur le lien suivant : <a href="{{ processing_url }}">{{ processing_name }}</a>.</p>

<p>Cordialement,</p>
