<p>Bonjour,</p>

<p>Suite à l’évaluation réalisée par {{ source_name }} le {{ "now"|date("d/m/Y") }} veuillez cliquer sur le lien suivant {{ processing_url }} afin de compléter la fiche de traitement.</p>

<p>Cordialement,</p>
