<p>Bonjour,</p>

<p>Le délégué à la protection des données {{ source_name }} a émis un avis sur l’analyse d’impact  « {{ processing_name }} ».</p>

<p>En tant que Responsable de Traitement sur ce PIA, vous êtes invité à intervenir sur la validation en cliquant sur le lien suivant : <a href="{{ processing_url }}">{{ processing_name }}</a>.</p>

<p>Une fois le PIA validé ou refusé, le processus sera terminé.</p>

<p>Cordialement,</p>
