<p>Bonjour,</p>

{# que Rédacteur, qu'Évaluateur, que Responsable de traitement #}

<p>Vous avez été affecté à une analyse d’impact sur la vie privée « {{ object_name }} » en tant que Rédacteur par {{ source_name }}.</p>

<p>Vous pouvez y accéder en cliquant sur le lien suivant : <a href="{{ source_url }}">{{ object_name }}</a>.</p>

<p>Cordialement,</p>
